
.btnShowMore{
    grid-column: 1/-1;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: blue;
    font-weight: bold;
    opacity: 0.5;
}

.btnShowMore:hover{ opacity: 1;}

.btnShowMore:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
